body {
  overflow-x: hidden;
  height: auto;
  background-color: lightgray;
}

.ant-card-cover img {
  min-height: 400px;
  max-height: 400px;

}

.ant-card-bordered {
  max-width: 300px;
}


.alert {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.ant-card-body {
  min-height: 250px;
  text-overflow: ellipsis;
}

.spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
