body {
  overflow-x: hidden;
  height: auto;
}

.ant-card-cover img {
  max-height: 400px;
}

.ant-card-bordered {
  max-width: 300px;
}

.column {
  display: flex;
  justify-content: center;
}

.alert {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
